<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>


<div class="container">

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card text-center card  bg-default mb-3">
                <div class="card-header">
                    LOGIN
                </div>
                <div class="card-body">
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Username"/>
                    </br>
                    <input type="password" id="userPassword" class="form-control input-sm chat-input"
                           placeholder="Password"/>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-secondary">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


